/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 20px;
    font-size: calc(20px + (23 - 20) * ((100vw - 320px) / (1600 - 320)));
    font-family: 'Poppins', sans-serif;
    color: black;
    background: white;
}

a {
    color: black;
}

h1 {
    font-size: calc(29px + (46 - 29) * ((100vw - 320px) / (1600 - 320)));
}

input[type="email"] {
    padding: 0.5em;
    max-width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}

input[type="submit"] {
    background: MediumSeaGreen;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    border: none;
    padding: 0.5em 1em;
}

header {
    display: flex;
    align-items: center;
}

footer {
    margin-top: 2em;
    color: #888;
    font-size: 0.7em;
}

footer p {
    margin: 0.5em 0;
}

footer a {
    color: #888;
}

nav a:not(:last-child):after {
    content: '\2022';
    display: inline-block;
    margin: 0 0.2em 0 0.36em;
}

#wrapper {
    width: 90%;
    margin: 2em auto;
}

#header-text {
    flex-basis: 50%;
    flex-grow: 1;
}

#header-photo {
    flex-basis: 35%;
    padding-left: 2em;
    filter: grayscale(100);
}

#header-photo img {
    max-width: 100%;
}

.bounded {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* Mailchimp styles */

#mc_embed_signup_scroll {
    text-align: center;
    margin-top: 2em;
}

#mc_embed_signup_scroll > div {
    display: inline;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 630px) {
    header {
        display: block;
    }

    #header-photo {
        padding-left: 0;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}